


.notes_card{
    /* background-color: rgba(130, 227, 240, 0.863); */
    border-radius: 10px;
    padding: 8px 10px;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
.notes_card h3{
    color: rgb(4, 75, 75);
    text-transform: capitalize;
    font-size: px;
}

.notes_card p>span{
 color: rgb(100, 109, 109);
 text-transform: capitalize;
 font-size: 18px;
 letter-spacing: 1px;
 font-weight: 500;
}


/* Overlay for modal */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    z-index: 1050; /* Ensure it covers the modal */
  }

.notes_card p{
    color: black;
    font-size: 15px;

    letter-spacing: 1px;
    font-weight: 500;
}

.update_text{
    font-weight: 400;
    text-transform: uppercase;
    color: rgb(6, 89, 104);
    font-size: 22px;
    letter-spacing: 1px;
}
.up_container{
    /* margin-top: -60px; */
    width: 100%;
    background-color: rgba(181, 221, 201, 0.548);
    height: 100vh;
}

.up_form{
    width: 50%;
    padding: 10px 20px ;
    background-color: #649b8b;
    border-radius: 10px;
}

.navbar-brand{
    color: rgb(3, 45, 58) !important;   
}
.navbar{
    background-color: rgba(189, 236, 236, 0.993) !important;
}

.log-md-header{
    background-color: rgb(243, 236, 236)!important;
    border: 2px solid rgb(6, 69, 73);
}

.log-md-body{
    background-color: lightcyan !important;
    border-left: 2px solid rgb(6, 69, 73);
    border-right: 2px solid rgb(6, 69, 73);

}



@media screen and (max-width:480px) {
    .up_form{
        width: 90%;
        margin-top: 50px;
    }
    .update_text{
        margin-top: 120px;
    }

    .note_list{
        padding: 0px 15px;
    }
    .navbar-brand{
        color: white !important;   
    }
    .navbar{
        background-color: rgba(2, 59, 59, 0.993) !important;
    }
    .log-md-header{
        background-color: rgb(17, 204, 157)!important;

    }
    .notes_card{
        background-color: rgba(130, 227, 240, 0.863);
        border-radius: 10px;
        padding: 8px 10px;
    }
}